/*
 *
 *
 *		Kodirian CSS framework
 *
 *
 *
 *		     April 21 2021
 *
 *		margin - type - direction - size [0..9]; [10..15..20..100]; [150,200,250,500]
 *		padding - type - direction - size [0..9]; [10..15..20..100]; [150,200,250,500]
 * 		border - type - direction - size [0..9]; [10..15..20..100]; [150,200,250,500]
 * 		img"-" - type - direction - size [0..9]; [10..15..20..100]; [150,200,250,500]
 *
 * */ 

/* Hellper*/

.bnone { border-style: none; }

/* Margin auto */ 
.mauto { margin: auto; }

/* Pixel IMG*/
.img-0 { width: 0px; }
.img-1 { width: 1px; }
.img-2 { width: 2px; }
.img-4 { width: 4px; }
.img-5 { width: 5px; }
.img-6 { width: 6px; }
.img-7 { width: 7px; }
.img-8 { width: 8px; }
.img-9 { width: 9px; }
.img-10 {width: 10px; }
.img-15 {width: 15px; }
.img-20 {width: 20px; }
.img-25 {width: 25px; }
.img-30 {width: 30px; }
.img-35 {width: 35px; }
.img-40 {width: 40px; }
.img-45 {width: 45px; }
.img-50 {width: 50px; }
.img-55 {width: 55px; }
.img-60 {width: 60px; }
.img-65 {width: 65px; }
.img-70 {width: 70px; }
.img-75 {width: 75px; }
.img-80 {width: 80px; }
.img-85 {width: 85px; }
.img-90 {width: 90px; }
.img-95 {width: 95px; }
.img-100 { width: 100px; }
.img-150 { width: 150px; }
.img-200 { width: 200px; }
.img-250 { width: 250px; }
.img-500 { width: 500px; }

/* Percent IMG*/
.imgp-0 { width: 0%; }
.imgp-1 { width: 1%; }
.imgp-2 { width: 2%; }
.imgp-4 { width: 4%; }
.imgp-5 { width: 5%; }
.imgp-6 { width: 6%; }
.imgp-7 { width: 7%; }
.imgp-8 { width: 8%; }
.imgp-9 { width: 9%; }
.imgp-10 {width: 10%; }
.imgp-15 {width: 15%; }
.imgp-20 {width: 20%; }
.imgp-25 {width: 25%; }
.imgp-30 {width: 30%; }
.imgp-35 {width: 35%; }
.imgp-40 {width: 40%; }
.imgp-45 {width: 45%; }
.imgp-50 {width: 50%; }
.imgp-55 {width: 55%; }
.imgp-60 {width: 60%; }
.imgp-65 {width: 65%; }
.imgp-70 {width: 70%; }
.imgp-75 {width: 75%; }
.imgp-80 {width: 80%; }
.imgp-85 {width: 85%; }
.imgp-90 {width: 90%; }
.imgp-95 {width: 95%; }
.imgp-100 { width: 100%; }
.imgp-150 { width: 150%; }
.imgp-200 { width: 200%; }
.imgp-250 { width: 250%; }
.imgp-500 { width: 500%; }

/* Pixel margin */
.m0 { margin: 0px; }
.m1 { margin: 1px; }
.m2 { margin: 2px; }
.m4 { margin: 4px; }
.m5 { margin: 5px; }
.m6 { margin: 6px; }
.m7 { margin: 7px; }
.m8 { margin: 8px; }
.m9 { margin: 9px; }

.m10 { margin: 10px; }
.m15 { margin: 15px; }
.m20 { margin: 20px; }
.m25 { margin: 25px; }
.m30 { margin: 30px; }
.m35 { margin: 35px; }
.m40 { margin: 40px; }
.m45 { margin: 45px; }
.m50 { margin: 50px; }
.m55 { margin: 55px; }
.m60 { margin: 60px; }
.m65 { margin: 65px; }
.m70 { margin: 70px; }
.m75 { margin: 75px; }
.m80 { margin: 80px; }
.m85 { margin: 85px; }
.m90 { margin: 90px; }
.m95 { margin: 95px; }

.m100 { margin: 100px; }
.m150 { margin: 150px; }
.m200 { margin: 200px; }
.m250 { margin: 250px; }
.m500 { margin: 500px; }

/* Pixel top */
.mt0 { margin-top: 0px; }
.mt1 { margin-top: 1px; }
.mt2 { margin-top: 2px; }
.mt4 { margin-top: 4px; }
.mt5 { margin-top: 5px; }
.mt6 { margin-top: 6px; }
.mt7 { margin-top: 7px; }
.mt8 { margin-top: 8px; }
.mt9 { margin-top: 9px; }

.mt10 { margin-top: 10px; }
.mt15 { margin-top: 15px; }
.mt20 { margin-top: 20px; }
.mt25 { margin-top: 25px; }
.mt30 { margin-top: 30px; }
.mt35 { margin-top: 35px; }
.mt40 { margin-top: 40px; }
.mt45 { margin-top: 45px; }
.mt50 { margin-top: 50px; }
.mt55 { margin-top: 55px; }
.mt60 { margin-top: 60px; }
.mt65 { margin-top: 65px; }
.mt70 { margin-top: 70px; }
.mt75 { margin-top: 75px; }
.mt80 { margin-top: 80px; }
.mt85 { margin-top: 85px; }
.mt90 { margin-top: 90px; }
.mt95 { margin-top: 95px; }

.mt100 { margin-top: 100px; }
.mt150 { margin-top: 150px; }
.mt200 { margin-top: 200px; }
.mt250 { margin-top: 250px; }
.mt500 { margin-top: 500px; }

/* Pixel margin bottom*/
.mb0 { margin-bottom: 0px; }
.mb1 { margin-bottom: 1px; }
.mb2 { margin-bottom: 2px; }
.mb4 { margin-bottom: 4px; }
.mb5 { margin-bottom: 5px; }
.mb6 { margin-bottom: 6px; }
.mb7 { margin-bottom: 7px; }
.mb8 { margin-bottom: 8px; }
.mb9 { margin-bottom: 9px; }

.mb10 { margin-bottom: 10px; }
.mb15 { margin-bottom: 15px; }
.mb20 { margin-bottom: 20px; }
.mb25 { margin-bottom: 25px; }
.mb30 { margin-bottom: 30px; }
.mb35 { margin-bottom: 35px; }
.mb40 { margin-bottom: 40px; }
.mb45 { margin-bottom: 45px; }
.mb50 { margin-bottom: 50px; }
.mb55 { margin-bottom: 55px; }
.mb60 { margin-bottom: 60px; }
.mb65 { margin-bottom: 65px; }
.mb70 { margin-bottom: 70px; }
.mb75 { margin-bottom: 75px; }
.mb80 { margin-bottom: 80px; }
.mb85 { margin-bottom: 85px; }
.mb90 { margin-bottom: 90px; }
.mb95 { margin-bottom: 95px; }

.mb100 { margin-bottom: 100px; }
.mb150 { margin-bottom: 150px; }
.mb200 { margin-bottom: 200px; }
.mb250 { margin-bottom: 250px; }
.mb500 { margin-bottom: 500px; }


/* Pixel margin left*/
.ml0 { margin-left: 0px; }
.ml1 { margin-left: 1px; }
.ml2 { margin-left: 2px; }
.ml4 { margin-left: 4px; }
.ml5 { margin-left: 5px; }
.ml6 { margin-left: 6px; }
.ml7 { margin-left: 7px; }
.ml8 { margin-left: 8px; }
.ml9 { margin-left: 9px; }

.ml10 { margin-left: 10px; }
.ml15 { margin-left: 15px; }
.ml20 { margin-left: 20px; }
.ml25 { margin-left: 25px; }
.ml30 { margin-left: 30px; }
.ml35 { margin-left: 35px; }
.ml40 { margin-left: 40px; }
.ml45 { margin-left: 45px; }
.ml50 { margin-left: 50px; }
.ml55 { margin-left: 55px; }
.ml60 { margin-left: 60px; }
.ml65 { margin-left: 65px; }
.ml70 { margin-left: 70px; }
.ml75 { margin-left: 75px; }
.ml80 { margin-left: 80px; }
.ml85 { margin-left: 85px; }
.ml90 { margin-left: 90px; }
.ml95 { margin-left: 95px; }

.ml100 { margin-left: 100px; }
.ml150 { margin-left: 150px; }
.ml200 { margin-left: 200px; }
.ml250 { margin-left: 250px; }
.ml500 { margin-left: 500px; }


/* Pixel margin right*/
.mr0 { margin-right: 0px; }
.mr1 { margin-right: 1px; }
.mr2 { margin-right: 2px; }
.mr4 { margin-right: 4px; }
.mr5 { margin-right: 5px; }
.mr6 { margin-right: 6px; }
.mr7 { margin-right: 7px; }
.mr8 { margin-right: 8px; }
.mr9 { margin-right: 9px; }

.mr10 { margin-right: 10px; }
.mr15 { margin-right: 15px; }
.mr20 { margin-right: 20px; }
.mr25 { margin-right: 25px; }
.mr30 { margin-right: 30px; }
.mr35 { margin-right: 35px; }
.mr40 { margin-right: 40px; }
.mr45 { margin-right: 45px; }
.mr50 { margin-right: 50px; }
.mr55 { margin-right: 55px; }
.mr60 { margin-right: 60px; }
.mr65 { margin-right: 65px; }
.mr70 { margin-right: 70px; }
.mr75 { margin-right: 75px; }
.mr80 { margin-right: 80px; }
.mr85 { margin-right: 85px; }
.mr90 { margin-right: 90px; }
.mr95 { margin-right: 95px; }

.mr100 { margin-right: 100px; }
.mr150 { margin-right: 150px; }
.mr200 { margin-right: 200px; }
.mr250 { margin-right: 250px; }
.mr500 { margin-right: 500px; }

/* Percent margin */
.mp0 { margin: 0%; }
.mp1 { margin: 1%; }
.mp2 { margin: 2%; }
.mp4 { margin: 4%; }
.mp5 { margin: 5%; }
.mp6 { margin: 6%; }
.mp7 { margin: 7%; }
.mp8 { margin: 8%; }
.mp9 { margin: 9%; }

.mp10 { margin: 10%; }
.mp15 { margin: 15%; }
.mp20 { margin: 20%; }
.mp25 { margin: 25%; }
.mp30 { margin: 30%; }
.mp35 { margin: 35%; }
.mp40 { margin: 40%; }
.mp45 { margin: 45%; }
.mp50 { margin: 50%; }
.mp55 { margin: 55%; }
.mp60 { margin: 60%; }
.mp65 { margin: 65%; }
.mp70 { margin: 70%; }
.mp75 { margin: 75%; }
.mp80 { margin: 80%; }
.mp85 { margin: 85%; }
.mp90 { margin: 90%; }
.mp95 { margin: 95%; }

.mp100 { margin: 100%; }
.mp150 { margin: 150%; }
.mp200 { margin: 200%; }
.mp250 { margin: 250%; }
.mp500 { margin: 500%; }

/* Percent top */
.mpt0 { margin-top: 0%; }
.mpt1 { margin-top: 1%; }
.mpt2 { margin-top: 2%; }
.mpt4 { margin-top: 4%; }
.mpt5 { margin-top: 5%; }
.mpt6 { margin-top: 6%; }
.mpt7 { margin-top: 7%; }
.mpt8 { margin-top: 8%; }
.mpt9 { margin-top: 9%; }

.mpt10 { margin-top: 10%; }
.mpt15 { margin-top: 15%; }
.mpt20 { margin-top: 20%; }
.mpt25 { margin-top: 25%; }
.mpt30 { margin-top: 30%; }
.mpt35 { margin-top: 35%; }
.mpt40 { margin-top: 40%; }
.mpt45 { margin-top: 45%; }
.mpt50 { margin-top: 50%; }
.mpt55 { margin-top: 55%; }
.mpt60 { margin-top: 60%; }
.mpt65 { margin-top: 65%; }
.mpt70 { margin-top: 70%; }
.mpt75 { margin-top: 75%; }
.mpt80 { margin-top: 80%; }
.mpt85 { margin-top: 85%; }
.mpt90 { margin-top: 90%; }
.mpt95 { margin-top: 95%; }

.mpt100 { margin-top: 100%; }
.mpt150 { margin-top: 150%; }
.mpt200 { margin-top: 200%; }
.mpt250 { margin-top: 250%; }
.mpt500 { margin-top: 500%; }

/* Percent margin bottom*/
.mpb0 { margin-bottom: 0%; }
.mpb1 { margin-bottom: 1%; }
.mpb2 { margin-bottom: 2%; }
.mpb4 { margin-bottom: 4%; }
.mpb5 { margin-bottom: 5%; }
.mpb6 { margin-bottom: 6%; }
.mpb7 { margin-bottom: 7%; }
.mpb8 { margin-bottom: 8%; }
.mpb9 { margin-bottom: 9%; }

.mpb10 { margin-bottom: 10%; }
.mpb15 { margin-bottom: 15%; }
.mpb20 { margin-bottom: 20%; }
.mpb25 { margin-bottom: 25%; }
.mpb30 { margin-bottom: 30%; }
.mpb35 { margin-bottom: 35%; }
.mpb40 { margin-bottom: 40%; }
.mpb45 { margin-bottom: 45%; }
.mpb50 { margin-bottom: 50%; }
.mpb55 { margin-bottom: 55%; }
.mpb60 { margin-bottom: 60%; }
.mpb65 { margin-bottom: 65%; }
.mpb70 { margin-bottom: 70%; }
.mpb75 { margin-bottom: 75%; }
.mpb80 { margin-bottom: 80%; }
.mpb85 { margin-bottom: 85%; }
.mpb90 { margin-bottom: 90%; }
.mpb95 { margin-bottom: 95%; }

.mpb100 { margin-bottom: 100%; }
.mpb150 { margin-bottom: 150%; }
.mpb200 { margin-bottom: 200%; }
.mpb250 { margin-bottom: 250%; }
.mpb500 { margin-bottom: 500%; }


/* Percent margin left*/
.mpl0 { margin-left: 0%; }
.mpl1 { margin-left: 1%; }
.mpl2 { margin-left: 2%; }
.mpl4 { margin-left: 4%; }
.mpl5 { margin-left: 5%; }
.mpl6 { margin-left: 6%; }
.mpl7 { margin-left: 7%; }
.mpl8 { margin-left: 8%; }
.mpl9 { margin-left: 9%; }

.mpl10 { margin-left: 10%; }
.mpl15 { margin-left: 15%; }
.mpl20 { margin-left: 20%; }
.mpl25 { margin-left: 25%; }
.mpl30 { margin-left: 30%; }
.mpl35 { margin-left: 35%; }
.mpl40 { margin-left: 40%; }
.mpl45 { margin-left: 45%; }
.mpl50 { margin-left: 50%; }
.mpl55 { margin-left: 55%; }
.mpl60 { margin-left: 60%; }
.mpl65 { margin-left: 65%; }
.mpl70 { margin-left: 70%; }
.mpl75 { margin-left: 75%; }
.mpl80 { margin-left: 80%; }
.mpl85 { margin-left: 85%; }
.mpl90 { margin-left: 90%; }
.mpl95 { margin-left: 95%; }

.mpl100 { margin-left: 100%; }
.mpl150 { margin-left: 150%; }
.mpl200 { margin-left: 200%; }
.mpl250 { margin-left: 250%; }
.mpl500 { margin-left: 500%; }


/* Percent margin right*/
.mpr0 { margin-right: 0%; }
.mpr1 { margin-right: 1%; }
.mpr2 { margin-right: 2%; }
.mpr4 { margin-right: 4%; }
.mpr5 { margin-right: 5%; }
.mpr6 { margin-right: 6%; }
.mpr7 { margin-right: 7%; }
.mpr8 { margin-right: 8%; }
.mpr9 { margin-right: 9%; }

.mpr10 { margin-right: 10%; }
.mpr15 { margin-right: 15%; }
.mpr20 { margin-right: 20%; }
.mpr25 { margin-right: 25%; }
.mpr30 { margin-right: 30%; }
.mpr35 { margin-right: 35%; }
.mpr40 { margin-right: 40%; }
.mpr45 { margin-right: 45%; }
.mpr50 { margin-right: 50%; }
.mpr55 { margin-right: 55%; }
.mpr60 { margin-right: 60%; }
.mpr65 { margin-right: 65%; }
.mpr70 { margin-right: 70%; }
.mpr75 { margin-right: 75%; }
.mpr80 { margin-right: 80%; }
.mpr85 { margin-right: 85%; }
.mpr90 { margin-right: 90%; }
.mpr95 { margin-right: 95%; }

.mpr100 { margin-right: 100%; }
.mpr150 { margin-right: 150%; }
.mpr200 { margin-right: 200%; }
.mpr250 { margin-right: 250%; }
.mpr500 { margin-right: 500%; }

/* padding auto */ 
.pauto { padding: auto; }

/* Pixel padding */
.p0 { padding: 0px; }
.p1 { padding: 1px; }
.p2 { padding: 2px; }
.p4 { padding: 4px; }
.p5 { padding: 5px; }
.p6 { padding: 6px; }
.p7 { padding: 7px; }
.p8 { padding: 8px; }
.p9 { padding: 9px; }

.p10 { padding: 10px; }
.p15 { padding: 15px; }
.p20 { padding: 20px; }
.p25 { padding: 25px; }
.p30 { padding: 30px; }
.p35 { padding: 35px; }
.p40 { padding: 40px; }
.p45 { padding: 45px; }
.p50 { padding: 50px; }
.p55 { padding: 55px; }
.p60 { padding: 60px; }
.p65 { padding: 65px; }
.p70 { padding: 70px; }
.p75 { padding: 75px; }
.p80 { padding: 80px; }
.p85 { padding: 85px; }
.p90 { padding: 90px; }
.p95 { padding: 95px; }

.p100 { padding: 100px; }
.p150 { padding: 150px; }
.p200 { padding: 200px; }
.p250 { padding: 250px; }
.p500 { padding: 500px; }

/* Pixel top */
.pt0 { padding-top: 0px; }
.pt1 { padding-top: 1px; }
.pt2 { padding-top: 2px; }
.pt4 { padding-top: 4px; }
.pt5 { padding-top: 5px; }
.pt6 { padding-top: 6px; }
.pt7 { padding-top: 7px; }
.pt8 { padding-top: 8px; }
.pt9 { padding-top: 9px; }

.pt10 { padding-top: 10px; }
.pt15 { padding-top: 15px; }
.pt20 { padding-top: 20px; }
.pt25 { padding-top: 25px; }
.pt30 { padding-top: 30px; }
.pt35 { padding-top: 35px; }
.pt40 { padding-top: 40px; }
.pt45 { padding-top: 45px; }
.pt50 { padding-top: 50px; }
.pt55 { padding-top: 55px; }
.pt60 { padding-top: 60px; }
.pt65 { padding-top: 65px; }
.pt70 { padding-top: 70px; }
.pt75 { padding-top: 75px; }
.pt80 { padding-top: 80px; }
.pt85 { padding-top: 85px; }
.pt90 { padding-top: 90px; }
.pt95 { padding-top: 95px; }

.pt100 { padding-top: 100px; }
.pt150 { padding-top: 150px; }
.pt200 { padding-top: 200px; }
.pt250 { padding-top: 250px; }
.pt500 { padding-top: 500px; }

/* Pixel padding bottom*/
.pb0 { padding-bottom: 0px; }
.pb1 { padding-bottom: 1px; }
.pb2 { padding-bottom: 2px; }
.pb4 { padding-bottom: 4px; }
.pb5 { padding-bottom: 5px; }
.pb6 { padding-bottom: 6px; }
.pb7 { padding-bottom: 7px; }
.pb8 { padding-bottom: 8px; }
.pb9 { padding-bottom: 9px; }

.pb10 { padding-bottom: 10px; }
.pb15 { padding-bottom: 15px; }
.pb20 { padding-bottom: 20px; }
.pb25 { padding-bottom: 25px; }
.pb30 { padding-bottom: 30px; }
.pb35 { padding-bottom: 35px; }
.pb40 { padding-bottom: 40px; }
.pb45 { padding-bottom: 45px; }
.pb50 { padding-bottom: 50px; }
.pb55 { padding-bottom: 55px; }
.pb60 { padding-bottom: 60px; }
.pb65 { padding-bottom: 65px; }
.pb70 { padding-bottom: 70px; }
.pb75 { padding-bottom: 75px; }
.pb80 { padding-bottom: 80px; }
.pb85 { padding-bottom: 85px; }
.pb90 { padding-bottom: 90px; }
.pb95 { padding-bottom: 95px; }

.pb100 { padding-bottom: 100px; }
.pb150 { padding-bottom: 150px; }
.pb200 { padding-bottom: 200px; }
.pb250 { padding-bottom: 250px; }
.pb500 { padding-bottom: 500px; }


/* Pixel padding left*/
.pl0 { padding-left: 0px; }
.pl1 { padding-left: 1px; }
.pl2 { padding-left: 2px; }
.pl4 { padding-left: 4px; }
.pl5 { padding-left: 5px; }
.pl6 { padding-left: 6px; }
.pl7 { padding-left: 7px; }
.pl8 { padding-left: 8px; }
.pl9 { padding-left: 9px; }

.pl10 { padding-left: 10px; }
.pl15 { padding-left: 15px; }
.pl20 { padding-left: 20px; }
.pl25 { padding-left: 25px; }
.pl30 { padding-left: 30px; }
.pl35 { padding-left: 35px; }
.pl40 { padding-left: 40px; }
.pl45 { padding-left: 45px; }
.pl50 { padding-left: 50px; }
.pl55 { padding-left: 55px; }
.pl60 { padding-left: 60px; }
.pl65 { padding-left: 65px; }
.pl70 { padding-left: 70px; }
.pl75 { padding-left: 75px; }
.pl80 { padding-left: 80px; }
.pl85 { padding-left: 85px; }
.pl90 { padding-left: 90px; }
.pl95 { padding-left: 95px; }

.pl100 { padding-left: 100px; }
.pl150 { padding-left: 150px; }
.pl200 { padding-left: 200px; }
.pl250 { padding-left: 250px; }
.pl500 { padding-left: 500px; }


/* Pixel padding right*/
.pr0 { padding-right: 0px; }
.pr1 { padding-right: 1px; }
.pr2 { padding-right: 2px; }
.pr4 { padding-right: 4px; }
.pr5 { padding-right: 5px; }
.pr6 { padding-right: 6px; }
.pr7 { padding-right: 7px; }
.pr8 { padding-right: 8px; }
.pr9 { padding-right: 9px; }

.pr10 { padding-right: 10px; }
.pr15 { padding-right: 15px; }
.pr20 { padding-right: 20px; }
.pr25 { padding-right: 25px; }
.pr30 { padding-right: 30px; }
.pr35 { padding-right: 35px; }
.pr40 { padding-right: 40px; }
.pr45 { padding-right: 45px; }
.pr50 { padding-right: 50px; }
.pr55 { padding-right: 55px; }
.pr60 { padding-right: 60px; }
.pr65 { padding-right: 65px; }
.pr70 { padding-right: 70px; }
.pr75 { padding-right: 75px; }
.pr80 { padding-right: 80px; }
.pr85 { padding-right: 85px; }
.pr90 { padding-right: 90px; }
.pr95 { padding-right: 95px; }

.pr100 { padding-right: 100px; }
.pr150 { padding-right: 150px; }
.pr200 { padding-right: 200px; }
.pr250 { padding-right: 250px; }
.pr500 { padding-right: 500px; }

/* Percent padding */
.p0 { padding: 0%; }
.p1 { padding: 1%; }
.p2 { padding: 2%; }
.p4 { padding: 4%; }
.p5 { padding: 5%; }
.p6 { padding: 6%; }
.p7 { padding: 7%; }
.p8 { padding: 8%; }
.p9 { padding: 9%; }

.p10 { padding: 10%; }
.p15 { padding: 15%; }
.p20 { padding: 20%; }
.p25 { padding: 25%; }
.p30 { padding: 30%; }
.p35 { padding: 35%; }
.p40 { padding: 40%; }
.p45 { padding: 45%; }
.p50 { padding: 50%; }
.p55 { padding: 55%; }
.p60 { padding: 60%; }
.p65 { padding: 65%; }
.p70 { padding: 70%; }
.p75 { padding: 75%; }
.p80 { padding: 80%; }
.p85 { padding: 85%; }
.p90 { padding: 90%; }
.p95 { padding: 95%; }

.p100 { padding: 100%; }
.p150 { padding: 150%; }
.p200 { padding: 200%; }
.p250 { padding: 250%; }
.p500 { padding: 500%; }

/* Percent top */
.ppt0 { padding-top: 0%; }
.ppt1 { padding-top: 1%; }
.ppt2 { padding-top: 2%; }
.ppt4 { padding-top: 4%; }
.ppt5 { padding-top: 5%; }
.ppt6 { padding-top: 6%; }
.ppt7 { padding-top: 7%; }
.ppt8 { padding-top: 8%; }
.ppt9 { padding-top: 9%; }

.ppt10 { padding-top: 10%; }
.ppt15 { padding-top: 15%; }
.ppt20 { padding-top: 20%; }
.ppt25 { padding-top: 25%; }
.ppt30 { padding-top: 30%; }
.ppt35 { padding-top: 35%; }
.ppt40 { padding-top: 40%; }
.ppt45 { padding-top: 45%; }
.ppt50 { padding-top: 50%; }
.ppt55 { padding-top: 55%; }
.ppt60 { padding-top: 60%; }
.ppt65 { padding-top: 65%; }
.ppt70 { padding-top: 70%; }
.ppt75 { padding-top: 75%; }
.ppt80 { padding-top: 80%; }
.ppt85 { padding-top: 85%; }
.ppt90 { padding-top: 90%; }
.ppt95 { padding-top: 95%; }

.ppt100 { padding-top: 100%; }
.ppt150 { padding-top: 150%; }
.ppt200 { padding-top: 200%; }
.ppt250 { padding-top: 250%; }
.ppt500 { padding-top: 500%; }

/* Percent padding bottom*/
.ppb0 { padding-bottom: 0%; }
.ppb1 { padding-bottom: 1%; }
.ppb2 { padding-bottom: 2%; }
.ppb4 { padding-bottom: 4%; }
.ppb5 { padding-bottom: 5%; }
.ppb6 { padding-bottom: 6%; }
.ppb7 { padding-bottom: 7%; }
.ppb8 { padding-bottom: 8%; }
.ppb9 { padding-bottom: 9%; }

.ppb10 { padding-bottom: 10%; }
.ppb15 { padding-bottom: 15%; }
.ppb20 { padding-bottom: 20%; }
.ppb25 { padding-bottom: 25%; }
.ppb30 { padding-bottom: 30%; }
.ppb35 { padding-bottom: 35%; }
.ppb40 { padding-bottom: 40%; }
.ppb45 { padding-bottom: 45%; }
.ppb50 { padding-bottom: 50%; }
.ppb55 { padding-bottom: 55%; }
.ppb60 { padding-bottom: 60%; }
.ppb65 { padding-bottom: 65%; }
.ppb70 { padding-bottom: 70%; }
.ppb75 { padding-bottom: 75%; }
.ppb80 { padding-bottom: 80%; }
.ppb85 { padding-bottom: 85%; }
.ppb90 { padding-bottom: 90%; }
.ppb95 { padding-bottom: 95%; }

.ppb100 { padding-bottom: 100%; }
.ppb150 { padding-bottom: 150%; }
.ppb200 { padding-bottom: 200%; }
.ppb250 { padding-bottom: 250%; }
.ppb500 { padding-bottom: 500%; }


/* Percent padding left*/
.ppl0 { padding-left: 0%; }
.ppl1 { padding-left: 1%; }
.ppl2 { padding-left: 2%; }
.ppl4 { padding-left: 4%; }
.ppl5 { padding-left: 5%; }
.ppl6 { padding-left: 6%; }
.ppl7 { padding-left: 7%; }
.ppl8 { padding-left: 8%; }
.ppl9 { padding-left: 9%; }

.ppl10 { padding-left: 10%; }
.ppl15 { padding-left: 15%; }
.ppl20 { padding-left: 20%; }
.ppl25 { padding-left: 25%; }
.ppl30 { padding-left: 30%; }
.ppl35 { padding-left: 35%; }
.ppl40 { padding-left: 40%; }
.ppl45 { padding-left: 45%; }
.ppl50 { padding-left: 50%; }
.ppl55 { padding-left: 55%; }
.ppl60 { padding-left: 60%; }
.ppl65 { padding-left: 65%; }
.ppl70 { padding-left: 70%; }
.ppl75 { padding-left: 75%; }
.ppl80 { padding-left: 80%; }
.ppl85 { padding-left: 85%; }
.ppl90 { padding-left: 90%; }
.ppl95 { padding-left: 95%; }

.ppl100 { padding-left: 100%; }
.ppl150 { padding-left: 150%; }
.ppl200 { padding-left: 200%; }
.ppl250 { padding-left: 250%; }
.ppl500 { padding-left: 500%; }


/* Percent padding right*/
.ppr0 { padding-right: 0%; }
.ppr1 { padding-right: 1%; }
.ppr2 { padding-right: 2%; }
.ppr4 { padding-right: 4%; }
.ppr5 { padding-right: 5%; }
.ppr6 { padding-right: 6%; }
.ppr7 { padding-right: 7%; }
.ppr8 { padding-right: 8%; }
.ppr9 { padding-right: 9%; }

.ppr10 { padding-right: 10%; }
.ppr15 { padding-right: 15%; }
.ppr20 { padding-right: 20%; }
.ppr25 { padding-right: 25%; }
.ppr30 { padding-right: 30%; }
.ppr35 { padding-right: 35%; }
.ppr40 { padding-right: 40%; }
.ppr45 { padding-right: 45%; }
.ppr50 { padding-right: 50%; }
.ppr55 { padding-right: 55%; }
.ppr60 { padding-right: 60%; }
.ppr65 { padding-right: 65%; }
.ppr70 { padding-right: 70%; }
.ppr75 { padding-right: 75%; }
.ppr80 { padding-right: 80%; }
.ppr85 { padding-right: 85%; }
.ppr90 { padding-right: 90%; }
.ppr95 { padding-right: 95%; }

.ppr100 { padding-right: 100%; }
.ppr150 { padding-right: 150%; }
.ppr200 { padding-right: 200%; }
.ppr250 { padding-right: 250%; }
.ppr500 { padding-right: 500%; }

/* border auto */ 
.bauto { border: auto; }

/* pixel border */
.b0 { border: 0px; }
.b1 { border: 1px; }
.b2 { border: 2px; }
.b4 { border: 4px; }
.b5 { border: 5px; }
.b6 { border: 6px; }
.b7 { border: 7px; }
.b8 { border: 8px; }
.b9 { border: 9px; }

.b10 { border: 10px; }
.b15 { border: 15px; }
.b20 { border: 20px; }
.b25 { border: 25px; }
.b30 { border: 30px; }
.b35 { border: 35px; }
.b40 { border: 40px; }
.b45 { border: 45px; }
.b50 { border: 50px; }
.b55 { border: 55px; }
.b60 { border: 60px; }
.b65 { border: 65px; }
.b70 { border: 70px; }
.b75 { border: 75px; }
.b80 { border: 80px; }
.b85 { border: 85px; }
.b90 { border: 90px; }
.b95 { border: 95px; }

.b100 { border: 100px; }
.b150 { border: 150px; }
.b200 { border: 200px; }
.b250 { border: 250px; }
.b500 { border: 500px; }

/* pixel top */
.bt0 { border-top: 0px; }
.bt1 { border-top: 1px; }
.bt2 { border-top: 2px; }
.bt4 { border-top: 4px; }
.bt5 { border-top: 5px; }
.bt6 { border-top: 6px; }
.bt7 { border-top: 7px; }
.bt8 { border-top: 8px; }
.bt9 { border-top: 9px; }

.bt10 { border-top: 10px; }
.bt15 { border-top: 15px; }
.bt20 { border-top: 20px; }
.bt25 { border-top: 25px; }
.bt30 { border-top: 30px; }
.bt35 { border-top: 35px; }
.bt40 { border-top: 40px; }
.bt45 { border-top: 45px; }
.bt50 { border-top: 50px; }
.bt55 { border-top: 55px; }
.bt60 { border-top: 60px; }
.bt65 { border-top: 65px; }
.bt70 { border-top: 70px; }
.bt75 { border-top: 75px; }
.bt80 { border-top: 80px; }
.bt85 { border-top: 85px; }
.bt90 { border-top: 90px; }
.bt95 { border-top: 95px; }

.bt100 { border-top: 100px; }
.bt150 { border-top: 150px; }
.bt200 { border-top: 200px; }
.bt250 { border-top: 250px; }
.bt500 { border-top: 500px; }

/* pixel border bottom*/
.bp0 { border-bottom: 0px; }
.bp1 { border-bottom: 1px; }
.bp2 { border-bottom: 2px; }
.bp4 { border-bottom: 4px; }
.bp5 { border-bottom: 5px; }
.bp6 { border-bottom: 6px; }
.bp7 { border-bottom: 7px; }
.bp8 { border-bottom: 8px; }
.bp9 { border-bottom: 9px; }

.bp10 { border-bottom: 10px; }
.bp15 { border-bottom: 15px; }
.bp20 { border-bottom: 20px; }
.bp25 { border-bottom: 25px; }
.bp30 { border-bottom: 30px; }
.bp35 { border-bottom: 35px; }
.bp40 { border-bottom: 40px; }
.bp45 { border-bottom: 45px; }
.bp50 { border-bottom: 50px; }
.bp55 { border-bottom: 55px; }
.bp60 { border-bottom: 60px; }
.bp65 { border-bottom: 65px; }
.bp70 { border-bottom: 70px; }
.bp75 { border-bottom: 75px; }
.bp80 { border-bottom: 80px; }
.bp85 { border-bottom: 85px; }
.bp90 { border-bottom: 90px; }
.bp95 { border-bottom: 95px; }

.bp100 { border-bottom: 100px; }
.bp150 { border-bottom: 150px; }
.bp200 { border-bottom: 200px; }
.bp250 { border-bottom: 250px; }
.bp500 { border-bottom: 500px; }


/* pixel border left*/
.bl0 { border-left: 0px; }
.bl1 { border-left: 1px; }
.bl2 { border-left: 2px; }
.bl4 { border-left: 4px; }
.bl5 { border-left: 5px; }
.bl6 { border-left: 6px; }
.bl7 { border-left: 7px; }
.bl8 { border-left: 8px; }
.bl9 { border-left: 9px; }

.bl10 { border-left: 10px; }
.bl15 { border-left: 15px; }
.bl20 { border-left: 20px; }
.bl25 { border-left: 25px; }
.bl30 { border-left: 30px; }
.bl35 { border-left: 35px; }
.bl40 { border-left: 40px; }
.bl45 { border-left: 45px; }
.bl50 { border-left: 50px; }
.bl55 { border-left: 55px; }
.bl60 { border-left: 60px; }
.bl65 { border-left: 65px; }
.bl70 { border-left: 70px; }
.bl75 { border-left: 75px; }
.bl80 { border-left: 80px; }
.bl85 { border-left: 85px; }
.bl90 { border-left: 90px; }
.bl95 { border-left: 95px; }

.bl100 { border-left: 100px; }
.bl150 { border-left: 150px; }
.bl200 { border-left: 200px; }
.bl250 { border-left: 250px; }
.bl500 { border-left: 500px; }


/* pixel border right*/
.br0 { border-right: 0px; }
.br1 { border-right: 1px; }
.br2 { border-right: 2px; }
.br4 { border-right: 4px; }
.br5 { border-right: 5px; }
.br6 { border-right: 6px; }
.br7 { border-right: 7px; }
.br8 { border-right: 8px; }
.br9 { border-right: 9px; }

.br10 { border-right: 10px; }
.br15 { border-right: 15px; }
.br20 { border-right: 20px; }
.br25 { border-right: 25px; }
.br30 { border-right: 30px; }
.br35 { border-right: 35px; }
.br40 { border-right: 40px; }
.br45 { border-right: 45px; }
.br50 { border-right: 50px; }
.br55 { border-right: 55px; }
.br60 { border-right: 60px; }
.br65 { border-right: 65px; }
.br70 { border-right: 70px; }
.br75 { border-right: 75px; }
.br80 { border-right: 80px; }
.br85 { border-right: 85px; }
.br90 { border-right: 90px; }
.br95 { border-right: 95px; }

.br100 { border-right: 100px; }
.br150 { border-right: 150px; }
.br200 { border-right: 200px; }
.br250 { border-right: 250px; }
.br500 { border-right: 500px; }

/* bercent border */
.bp0 { border: 0%; }
.bp1 { border: 1%; }
.bp2 { border: 2%; }
.bp4 { border: 4%; }
.bp5 { border: 5%; }
.bp6 { border: 6%; }
.bp7 { border: 7%; }
.bp8 { border: 8%; }
.bp9 { border: 9%; }

.bp10 { border: 10%; }
.bp15 { border: 15%; }
.bp20 { border: 20%; }
.bp25 { border: 25%; }
.bp30 { border: 30%; }
.bp35 { border: 35%; }
.bp40 { border: 40%; }
.bp45 { border: 45%; }
.bp50 { border: 50%; }
.bp55 { border: 55%; }
.bp60 { border: 60%; }
.bp65 { border: 65%; }
.bp70 { border: 70%; }
.bp75 { border: 75%; }
.bp80 { border: 80%; }
.bp85 { border: 85%; }
.bp90 { border: 90%; }
.bp95 { border: 95%; }

.bp100 { border: 100%; }
.bp150 { border: 150%; }
.bp200 { border: 200%; }
.bp250 { border: 250%; }
.bp500 { border: 500%; }

/* bercent top */
.bpt0 { border-top: 0%; }
.bpt1 { border-top: 1%; }
.bpt2 { border-top: 2%; }
.bpt4 { border-top: 4%; }
.bpt5 { border-top: 5%; }
.bpt6 { border-top: 6%; }
.bpt7 { border-top: 7%; }
.bpt8 { border-top: 8%; }
.bpt9 { border-top: 9%; }

.bpt10 { border-top: 10%; }
.bpt15 { border-top: 15%; }
.bpt20 { border-top: 20%; }
.bpt25 { border-top: 25%; }
.bpt30 { border-top: 30%; }
.bpt35 { border-top: 35%; }
.bpt40 { border-top: 40%; }
.bpt45 { border-top: 45%; }
.bpt50 { border-top: 50%; }
.bpt55 { border-top: 55%; }
.bpt60 { border-top: 60%; }
.bpt65 { border-top: 65%; }
.bpt70 { border-top: 70%; }
.bpt75 { border-top: 75%; }
.bpt80 { border-top: 80%; }
.bpt85 { border-top: 85%; }
.bpt90 { border-top: 90%; }
.bpt95 { border-top: 95%; }

.bpt100 { border-top: 100%; }
.bpt150 { border-top: 150%; }
.bpt200 { border-top: 200%; }
.bpt250 { border-top: 250%; }
.bpt500 { border-top: 500%; }

/* bercent border bottom*/
.bpb0 { border-bottom: 0%; }
.bpb1 { border-bottom: 1%; }
.bpb2 { border-bottom: 2%; }
.bpb4 { border-bottom: 4%; }
.bpb5 { border-bottom: 5%; }
.bpb6 { border-bottom: 6%; }
.bpb7 { border-bottom: 7%; }
.bpb8 { border-bottom: 8%; }
.bpb9 { border-bottom: 9%; }

.bpb10 { border-bottom: 10%; }
.bpb15 { border-bottom: 15%; }
.bpb20 { border-bottom: 20%; }
.bpb25 { border-bottom: 25%; }
.bpb30 { border-bottom: 30%; }
.bpb35 { border-bottom: 35%; }
.bpb40 { border-bottom: 40%; }
.bpb45 { border-bottom: 45%; }
.bpb50 { border-bottom: 50%; }
.bpb55 { border-bottom: 55%; }
.bpb60 { border-bottom: 60%; }
.bpb65 { border-bottom: 65%; }
.bpb70 { border-bottom: 70%; }
.bpb75 { border-bottom: 75%; }
.bpb80 { border-bottom: 80%; }
.bpb85 { border-bottom: 85%; }
.bpb90 { border-bottom: 90%; }
.bpb95 { border-bottom: 95%; }

.bpb100 { border-bottom: 100%; }
.bpb150 { border-bottom: 150%; }
.bpb200 { border-bottom: 200%; }
.bpb250 { border-bottom: 250%; }
.bpb500 { border-bottom: 500%; }


/* bercent border left*/
.bpl0 { border-left: 0%; }
.bpl1 { border-left: 1%; }
.bpl2 { border-left: 2%; }
.bpl4 { border-left: 4%; }
.bpl5 { border-left: 5%; }
.bpl6 { border-left: 6%; }
.bpl7 { border-left: 7%; }
.bpl8 { border-left: 8%; }
.bpl9 { border-left: 9%; }

.bpl10 { border-left: 10%; }
.bpl15 { border-left: 15%; }
.bpl20 { border-left: 20%; }
.bpl25 { border-left: 25%; }
.bpl30 { border-left: 30%; }
.bpl35 { border-left: 35%; }
.bpl40 { border-left: 40%; }
.bpl45 { border-left: 45%; }
.bpl50 { border-left: 50%; }
.bpl55 { border-left: 55%; }
.bpl60 { border-left: 60%; }
.bpl65 { border-left: 65%; }
.bpl70 { border-left: 70%; }
.bpl75 { border-left: 75%; }
.bpl80 { border-left: 80%; }
.bpl85 { border-left: 85%; }
.bpl90 { border-left: 90%; }
.bpl95 { border-left: 95%; }

.bpl100 { border-left: 100%; }
.bpl150 { border-left: 150%; }
.bpl200 { border-left: 200%; }
.bpl250 { border-left: 250%; }
.bpl500 { border-left: 500%; }


/* bercent border right*/
.bpr0 { border-right: 0%; }
.bpr1 { border-right: 1%; }
.bpr2 { border-right: 2%; }
.bpr4 { border-right: 4%; }
.bpr5 { border-right: 5%; }
.bpr6 { border-right: 6%; }
.bpr7 { border-right: 7%; }
.bpr8 { border-right: 8%; }
.bpr9 { border-right: 9%; }

.bpr10 { border-right: 10%; }
.bpr15 { border-right: 15%; }
.bpr20 { border-right: 20%; }
.bpr25 { border-right: 25%; }
.bpr30 { border-right: 30%; }
.bpr35 { border-right: 35%; }
.bpr40 { border-right: 40%; }
.bpr45 { border-right: 45%; }
.bpr50 { border-right: 50%; }
.bpr55 { border-right: 55%; }
.bpr60 { border-right: 60%; }
.bpr65 { border-right: 65%; }
.bpr70 { border-right: 70%; }
.bpr75 { border-right: 75%; }
.bpr80 { border-right: 80%; }
.bpr85 { border-right: 85%; }
.bpr90 { border-right: 90%; }
.bpr95 { border-right: 95%; }

.bpr100 { border-right: 100%; }
.bpr150 { border-right: 150%; }
.bpr200 { border-right: 200%; }
.bpr250 { border-right: 250%; }
.bpr500 { border-right: 500%; }
